<h1>Time Sheet</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@employee) do |f| %>

      <table>
        <tr>
          <td>
               <%= f.label :name %>
          </td>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <td>
               <%= f.label :task %>
          </td>
          <td>
            <%= f.text_field :task %>
          </td>
        </tr>
        <tr>
          <td>
               <%= f.label :date %>
          </td>
          <td>
            <%= f.text_field :date %>
          </td>
        </tr>
        <tr>
          <td>
               <%= f.label :billinghrs %>
          </td>
          <td>
            <%= f.text_field :billinghrs %>
          </td>
        </tr>
        <tr>
          <td>
              <%= f.submit "submit", class: "btn btn-large btn-primary" %>
          </td>
          <td>
          </td>
        </tr>

      </table>
    <% end %>
  </div>
</div>
