
<h1>Timesheet App</h1>

	<table cellspacing="0" cellpadding="0"  width="70%" style ="border:1px solid #12619A;border-radius:8px 8px 8px 8px; ">
		<tr>
			<td>
				&nbsp;
			</td>
		</tr>
		<% if current_user.Manager? %>
		<tr>
			<td style="padding:10px">
					Users:
			</td>
			<td >
				<ul class="dropdown-menu">
					<li><%= link_to "All", employee_path(0) %></li>
				  <% User.all.each do |item| %>
				    <li><%= link_to item.email, employee_path(item.id) %></li>
				  <% end %>
				</ul>
			</td>
		</tr>
		<% end %>
		<tr>
			<td colspan="5" align="right" style="padding:10px">					
        <%= link_to "Add", new_employee_path %>
			</td>
		</tr>
		<tr style="font-weight:bold; background:-webkit-linear-gradient(#BAD7E9, #12619A 70%)!important; color:white;">
				<td style="padding:10px">
					Name
				</td>
				<td>
					Task
				</td>
				<td>
					Billing Hrs
				</td>
				<td>
					Date
				</td>
				<td>
				</td>
		</tr>
	<%= @employees.each do |employee| %>	
		<tr >
				<td style="padding:10px">
					<%= employee.name %>
				</td>
				<td>
						<%= employee.task %>

				</td>
				<td>
					<%= employee.billinghrs %>

				</td>
				<td>
					<%= employee.date %>
				</td>
				<td>
					<%= link_to "edit", edit_employee_path(employee) %>
					<%= link_to "delete", employee, method: :delete, confirm: "Are you sure?" %>
				</td>
		</tr>
	<% end %>
</table>





